.logo {
  width: 4.5rem;
  margin-right: 6rem;
}

#shoping_cart {
  padding-left: 2.1rem;
  height: 30px;
}

.nav-pages {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  margin-right: 8rem;
  text-transform: uppercase;

  .header__delivery {
    color: red;
    width: 5rem;
  }
  a {
    width: 2rem;
  }
  a:after {
    display: block;
    left: 0;
    width: 0;
    height: 4px;
    background-color: black;
    position: relative;
    top: 20px;
    content: "";
    transition: width 0.3s ease-out;
  }
  a:hover:after,
  a:focus:after {
    width: 5rem;
  }
}

.sticky-top {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.navbar-toggler {
  border: 1px;
}

@media screen and (max-width: 992px) {
  #shoping_cart {
    padding-left: 0;
  }
}

.shopingcart-items-sum {
  position: absolute;
  text-transform: uppercase;
  margin: 0 auto;
  top: 10px;
  margin-left: 60px;
  #calc-length {
    // font-size: 14px;
    color: white;
    background: #0c6;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
  }
}
