@import "./components/Header/header";
@import "./pages/Home/home";
@import "./components/Product/product";
@import './pages/Products/products';
@import "./pages/Cart/cart";

body {
  font-family: "Open Sans";
}
body {
  margin: 0;
  font-family: GothamProBold, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


