@import "./components/Header/header";
@import "./pages/Home/home";
@import "./components/Product/product";
@import "./pages/Products/products";
@import "./pages/Cart/cart";
@import "./pages/ProductDetails/productDetails";
@import "./components/Footer/footer";
@import "./components/Error/error";
@import "./components/MyToast/myToast";
@import "./pages/Oferta/oferta";

body {
  font-family: "Open Sans";
}
body {
  margin: 0;
  font-family: GothamProBold, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
